.title h1{
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    position: center;
    background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

div {
    font-family: Helvetica;
}

.BlueHighlight {
    font-weight: bold;
    color: blue;
}

.sub_title {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.Brushes_section h2 {
    background-color: mediumspringgreen;
}

.Frames_section h2 {
    background-color: lightcoral;
}

.Paint_section h2 {
    background-color: skyblue;
}